## Python_October2019/Study Material/Python Day1/Assignment

 Q1. Write a script which can ceil and floor given value without using any python built-tin functions.

 Ceil and Floor : Given a value say x, celil finds Smallest integer not less than x. while floor, finds largest integer not greater than x.

In [52]:
def my_ceil(num):
    res = int(num)
    if res == num or num < 0:
        return res
    else:
        return res+1

def my_floor(num):
    res = int(num)
    if res == num or num >= 0:
        return res
    else:
        return res-1

In [53]:
ceil(1.25)

2

In [54]:
floor(3.7)

3

In [56]:
'''
num = input("enter number:")

val = int(num);

if val == num or num < 0:
    print("ceil,",val)
else:
    print("ceil,",val+1)
    
    '''

'\nnum = input("enter number:")\n\nval = int(num);\n\nif val == num or num < 0:\n    print("ceil,",val)\nelse:\n    print("ceil,",val+1)\n    \n    '

### Q2 Python script to swap two integers in single line

In [57]:
# Python program to swap two variables in single line 
num1 = input("enter the first number:")
num2 = input("enter the second number:")
num1, num2 = num2, num1 
print("After Swapping values of x and y are", num1, num2)

enter the first number:3
enter the second number:4
After Swapping values of x and y are 4 3

 Q3 Write a program that asks the user their name, if they enter your name say "That is a nice name",if they enter "John Cleese" or "Michael Palin", tell them how you feel about them ;), otherwise tell them "You have a nice name."[Use ternary operator].

In [36]:
name = input("Enter your name:\n ")

if name == 'Dawit Gebre':
    print("That is a nice name.")
    
elif name == 'John Cleese' or name =='Michael Palin':
        print("You're such funny person!") 
else:
    print("You have a nice name.")

Enter your name:
 Obama
You have a nice name.

In [ ]:
while True:
    name = str(input("Enter your name:"))

    if name =="Dawit":
        print("That is a nice name.")

    elif name == 'John Cleese' or name =='Michael Palin':
        print("You're such funny person!") 

print("You have a nice name.")

Q4 A particular retailer is having a 60 percent off sale on a variety of discontinued products. The retailer would like to help its customers determine the reduced price of the merchandise by having a printed discount table on the shelf that shows the original prices and the prices after the discount has been applied. Write a program that uses a loop to generate this table, showing the original price, the discount amount, and the new price for purchases of $4.95, $9.95, $14.95, $19.95 and $24.95.Ensure that the discount amounts and the new prices are rounded to 2 decimal placeswhen they are displayed.

In [69]:
import pandas as pd 
import numpy as np
"""we will make use of pandas library to have a dataframe(kinda of table)
  so as to display the desired price deal"""

orginal_price = [4.95,14.95,19.95,24.95] # list that contains the orginal price
after_discount = []
percentageDiscount = 60
after_discount = []
discount_amout = []
for price in orginal_price:
    reduced_price = price - price*(percentageDiscount/100)
    price_diff = price - reduced_price
    
    after_discount.append(reduced_price)
    discount_amout.append(price_diff)
    
data =[orginal_price,discount_amout,after_discount]
np.transpose(data)

array([[ 4.95,  2.97,  1.98],
       [14.95,  8.97,  5.98],
       [19.95, 11.97,  7.98],
       [24.95, 14.97,  9.98]])

In [158]:
print('\033[1m'  + "___________""A TABLE of PRICE DEAL____________ " + '\033[1m' )
    
Table_info = pd.DataFrame(np.transpose(data), columns = 
                          ['Orginal price', 'Discount amount','New price'])

Table_info.style.hide_index()

___________A TABLE of PRICE DEAL____________

Q7 (Game: lottery) generate a lottery of a three digit number. The program prompts the user to enter
a three-digit number and determines whether the user wins according to the following rules:


1.If the user input matches the lottery number in the exact order, the award is $10,000.


2.If all the digits in the user input match all the digits in the lottery number, the award is $3,000. 

3.If one digit in the user input matches a digit in the lottery number, the award is $1,000.

In [183]:
import random 

# user to enter a three-digit number
#And find find the 1st,2nd & the 3rd digit of the user_num

print('\033[1m' + "ENTER A THREE DIGIT NUMBER" + '\033[1m')

user_num = eval(input("Enter a three digit number:"))

user_numD3 = str(user_num % 10)
user_numD2 = str((user_num // 10) % 10)
user_numD1 = str((user_num // 100) % 10)

ENTER A THREE DIGIT NUMBER
Enter a three digit number:123

In [189]:
# Randemly genereated number 
#And find find the 1st,2nd & the 3rd digit of the lottery_num

lottery_num = random.randrange(100, 1000)  # randint is inclusive at both ends

print('\033[1m' + "THE LOTTERY NUMBER IS " + '\033[1m' ,lottery_num)
lottery_numD3 = str(user_num % 10)
lottery_numD2 = str((user_num // 10) % 10)
lottery_numD1 = str((user_num // 100) % 10)

THE LOTTERY NUMBER IS  327

In [222]:
if lottery_numD3 == user_num:
    print("You HAVE WON $ 10,000, congradulations!")

elif lottery_num == int(user_numD1 + user_numD3 + user_numD2) \
    or lottery_num == int(user_numD2 + user_numD1 + user_numD3)\
    or lottery_num == int(user_numD2 + user_numD3 + user_numD1)\
    or lottery_num == int(user_numD3 + user_numD1 + user_numD2)\
    or lottery_num == int(user_numD3 + user_numD2 + user_numD1):
    
    print("You HAVE WON $ 3,000, congradulations!") 
else:
    string = ''
    if lottery_numD1 == user_numD1 or lottery_numD1 == user_numD2 or lottery_numD1 == user_numD3:
        string = string + lottery_numD1
    if lottery_numD2 == user_numD1 or lottery_numD2 == user_numD2 or lottery_numD2 == user_numD3:
        string = string + lottery_numD2
    if lottery_numD3 == user_numD1 or lottery_numD2 == user_numD2 or lottery_numD2 == user_numD3:
        string = string + lottery_numD2
    if string == "":
        print("You Loose.")
    else:
        stringLastDigit = str(int(string) % 10)
        if string == stringLastDigit or string == 2*stringLastDigit or string == 2*stringLastDigit:
            print("You HAVE WON $ 1,000, congradulations!")

In [205]:
user_numD3

'3'

In [198]:
print (int(user_numD2 + user_numD1))

21

In [ ]:
)
     )